.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

svg {
  margin-top: 10px;
}

svg text{
  font-family: Lato;
  fill: #C1C1C1;
}

path.domain {
  display: none;
}



path.domain, g.tick line {
  stroke: #F6F7FB;
}

.grid .tick line {
  stroke: #F6F7FB;
}

.meter-text {
  font-size: 0.75em;
  fill: #C1C1C1;
  margin-left: 5px;
}

.threshold-hover-mark.hidden{
  display: none;
}

.x-threshold:hover {
  cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
  cursor:    -moz-grab; /* Firefox 1.5-26 */
  cursor:         grab;
}

.x-threshold.active polygon, .threshold-hover-mark.active line{
  cursor: -webkit-grabbing !important;
  cursor:    -moz-grabbing !important;
  cursor:         grabbing !important;
}
